importFrom(MASS, rlm)
import("methods")
importFrom(outliers, rm.outlier)
importFrom(ptw, whit1, whit2)
importFrom(quantreg, rq)
importFrom(Rfit, rfit)
importFrom(robustbase, lmrob)
importFrom(robustbase, mc)
importFrom(shiny, runApp)
importFrom(signal, sgolayfilt)

exportClasses(
    "amptest",
    "bg",
    "der",
    "refMFI"
)

exportMethods(
  "plot",
  "qqline",
  "qqnorm",
  "show",
  "summary")

export(
  "AmpSim",
	"AmpSim.gui",
	"amptester",
	"bg.max",
	"CPP",
	"effcalc",
	"fixNA",
	"inder",
	"MFIaggr",
	"rounder",
	"smoother"
)
