importFrom(lmtest, bptest)
importFrom(MASS, rlm)
import("methods")
importFrom(outliers, rm.outlier)
importFrom(parallel, parLapplyLB)
importFrom(ptw, whit1, whit2)
importFrom(quantreg, rq)
importFrom(Rfit, rfit)
importFrom(robustbase, lmrob)
importFrom(robustbase, mc)
importFrom(shiny, runApp)
importFrom(signal, sgolayfilt)

exportClasses(
    "amptest",
    "bg",
    "der",
    "refMFI"
)

exportMethods(
  "plot",
  "qqline",
  "qqnorm",
  "show",
  "summary")

export(
  "AmpSim",
  "AmpSim.gui",
	"amptester",
  "amptester.gui",
	"bg.max",
	"CPP",
	"effcalc",
	"fixNA",
	"humanrater",
	"inder",
  "lm.coefs",
	"MFIaggr",
  "MFIaggr.gui",
  "normalizer",
  "plotCurves",
	"rounder",
	"smoother",
	"th.cyc"
)